@model QuanLyThuVien.Models.THELOAI

@{
    ViewBag.Title = "EditTL";
}
<head>
    <style>
        button {
            border: 2px solid;
            border-radius: 5px;
            width: 80px;
            height: 35px;
        }

        input {
            border: 2px solid;
            border-radius: 5px;
            width: 80px;
            height: 35px;
        }
    </style>
</head>
<h2>Sửa thể loại</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaTL)

        <div class="form-group">
            <p>Tên thể loại</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="border-radius: 5px; border: 2px solid; background-color: antiquewhite;" type="submit" value="Lưu" class="btn btn-default" />&ensp;
                <button style="border-radius: 5px; border: 2px solid; background-color: aqua;"> @Html.ActionLink("Quay lại", "ListTL")</button>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
